*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    padding: 10px 20px;    
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
}

#button-logout{
    text-align: right;
}
#formAddEmploee input{
    width: 200px;
}
#formEmploeeTable input{
    width: 200px;
}
#formAddEmploee label{
    width: 200px !important;
}
#formEmploeeTable label{
    width: 200px !important;
}
#addNewEmploeeForm{
    margin-bottom: 20px;
    margin-top: 50px
}
.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
}
