<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />        
        <title><ui:insert name="title"></ui:insert></title>
    </h:head>
    
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="80" header="" resizable="true">
                <div>
                    <ui:insert name="header"></ui:insert>
                    <div id="button-logout">
                        <h:form>
                            <h:commandLink action="#{loginBean.logout()}" value="#{msg['template.logoutbutton']}"></h:commandLink>
                        </h:form>
                    </div>
                </div>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="40" header="Copyright © 2015. All Rights Reserved." resizable="true">
                
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <ui:insert name="content">Content</ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="east" size="200" header="#{msg['template.ref']}" resizable="true" collapsible="true" effect="drop">                
                <p:menu>
                    <p:menuitem value="#{msg['template.tabel']}" url="/pages/ref/tabel.xhtml"></p:menuitem>
                    <p:menuitem value="#{msg['template.emploee']}" url="/pages/ref/emploee.xhtml"></p:menuitem>
                    <p:menuitem value="#{msg['template.profcode']}" url="/pages/ref/profcode.xhtml"></p:menuitem>
                    <p:menuitem value="#{msg['template.profname']}" url="/pages/ref/profname.xhtml"></p:menuitem>
                    <p:menuitem value="#{msg['template.statday']}" url="/pages/ref/statday.xhtml"></p:menuitem>
                    <p:menuitem value="#{msg['template.month']}" url="/pages/ref/months.xhtml"></p:menuitem>
                </p:menu>
            </p:layoutUnit>
        </p:layout>
    </h:body>

</html>
