<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../template/template.xhtml">
    
    <ui:define name="css">
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText value="#{msg['emploee.title']}"/>
    </ui:define>
    <ui:define name="header">
        <h:outputText value="#{msg['emploee.title']}"/>
    </ui:define>
    
    <ui:define name="content">
        <f:view>
            <h:form id="formEmploeeTable" >

                <p:dataTable id="tableEmploee" value="#{emploeeBean.emploees}" var="emploeeItem"
                             editable="true" editMode="cell" >
                    
                    <p:ajax event="cellEdit" listener="#{emploeeBean.onCellEdit}" 
                            update=":formEmploeeTable:tableEmploee" />
                    
                    <p:column headerText="ID">
                        <h:outputText value="#{emploeeItem.id}"  />
                    </p:column>

                    <p:column headerText="#{msg['emploee.table.tabelnum']}">
                        <p:cellEditor>                            
                            <f:facet name="output"><h:outputText value="#{emploeeItem.tabelnum}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{emploeeItem.tabelnum}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['emploee.table.sex']}">
                        <p:cellEditor>                            
                            <f:facet name="output"><h:outputText value="#{emploeeItem.sex}" /></f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{emploeeItem.sex}">
                                    <f:selectItem itemLabel="#{msg['emploee.table.sex.list.man']}" 
                                                  itemValue="#{msg['emploee.table.sex.list.man']}" />
                                    <f:selectItem itemLabel="#{msg['emploee.table.sex.list.woman']}" 
                                                  itemValue="#{msg['emploee.table.sex.list.woman']}" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>                    
                    
                    <p:column headerText="#{msg['emploee.table.surname']}">
                        <p:cellEditor>                            
                            <f:facet name="output"><h:outputText value="#{emploeeItem.surname}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{emploeeItem.surname}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['emploee.table.name']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{emploeeItem.name}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{emploeeItem.name}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['emploee.table.patronomic']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{emploeeItem.patronomic}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{emploeeItem.patronomic}" /></f:facet>
                        </p:cellEditor>  
                    </p:column>
                    <p:column headerText="#{msg['emploee.table.profname']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{emploeeItem.profName.name}" /></f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{emploeeBean.profNameId}">
                                    <f:selectItems value="#{emploeeBean.emploeeProfName.entrySet()}" var="emploeeProfName" 
                                                   itemValue="#{emploeeProfName.key}" itemLabel="#{emploeeProfName.value}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['emploee.table.leave']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{emploeeItem.leaveCount}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{emploeeItem.leaveCount}" /></f:facet>                            
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['emploee.table.salary']}">
                        <p:cellEditor>                            
                            <f:facet name="output"><h:outputText value="#{emploeeItem.salary}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{emploeeItem.salary}" /></f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column>
                        <p:commandButton actionListener="#{emploeeBean.removeEmploee(emploeeItem)}" 
                                       value="#{msg['emploee.table.delete']}" update=":formEmploeeTable">                            
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:separator />
            <h:form id="formAddEmploee">              
                <p:panel id="addNewEmploee" header="#{msg['emploee.add.newemploee.title']}" >
                    <h:panelGrid columns="3" cellpadding="5" >
                                                                        
                        <p:outputLabel for="tabelnum" value="#{msg['emploee.table.tabelnum']}" />
                        <p:inputText id="tabelnum" required="true" value="#{emploeeBean.tabelnum}" />
                        <p:message for="tabelnum" display="text" />
                        
                        <p:outputLabel for="sex" value="#{msg['emploee.table.sex']}" />
                        <p:selectOneMenu id="sex" value="#{emploeeBean.sex}">
                            <f:selectItem itemLabel="#{msg['emploee.table.sex.list.man']}" 
                                          itemValue="#{msg['emploee.table.sex.list.man']}" />
                            <f:selectItem itemLabel="#{msg['emploee.table.sex.list.woman']}" 
                                          itemValue="#{msg['emploee.table.sex.list.woman']}" />                            
                        </p:selectOneMenu>                        
                        <p:message for="sex" display="text" />
                                                
                        <p:outputLabel for="surname" value="#{msg['emploee.table.surname']}" />
                        <p:inputText id="surname" required="true" value="#{emploeeBean.surname}" />
                        <p:message for="surname" display="text" />
                        
                        <p:outputLabel for="name" value="#{msg['emploee.table.name']}" />
                        <p:inputText id="name" required="true" value="#{emploeeBean.name}" />
                        <p:message for="name" display="text" />
 
                        <p:outputLabel for="patronomic" value="#{msg['emploee.table.patronomic']}" />
                        <p:inputText id="patronomic" required="false" value="#{emploeeBean.patronomic}"  />
                        <p:message for="patronomic" display="text" />

                        <p:outputLabel for="profNameEmploee" value="#{msg['emploee.table.profname']}" />
                        <p:selectOneMenu id="profNameEmploee" value="#{emploeeBean.profNameId}">
                            <f:selectItems value="#{emploeeBean.emploeeProfName.entrySet()}" var="emploeeProfName" 
                                           itemLabel="#{emploeeProfName.value}" itemValue="#{emploeeProfName.key}" />
                        </p:selectOneMenu>
                        <p:message for="profNameEmploee" display="text" />
                        
                        <p:outputLabel for="salary" value="#{msg['emploee.table.salary']}" />
                        <p:inputText id="salary" required="false" value="#{emploeeBean.salary}"  />
                        <p:message for="salary" display="text" />
                    </h:panelGrid>
                    <p:commandButton id="submitButton" value="#{msg['emploee.add.newemploee.button']}" 
                                     update=":formEmploeeTable :formAddEmploee" 
                                     actionListener="#{emploeeBean.addNewEmploee()}" />
                </p:panel>
                
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

