<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../template/template.xhtml">
    
    <ui:define name="css">
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText value="#{msg['month.title']}"/>
    </ui:define>
    <ui:define name="header">
        <h:outputText value="#{msg['month.title']}"/>
    </ui:define>
    
    <ui:define name="content">
        <f:view>
            <h:form id="formMonthsTable">

                <p:dataTable id="tableMonths" value="#{monthsBean.months}" var="monthItem"
                             editable="true" editMode="cell" >
                    
                    <p:ajax event="cellEdit" listener="#{monthsBean.onCellEdit}"  update=":formMonthsTable:tableMonths" />                    

                    <p:column headerText="ID">
                        <h:outputText value="#{monthItem.id_months}"  />
                    </p:column>
                    
                    <p:column headerText="#{msg['month.table.name']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{monthItem.name}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{monthItem.name}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                </p:dataTable>
            </h:form>            
            
        </f:view>
    </ui:define>
</ui:composition>