<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../template/template.xhtml">
    
    <ui:define name="css">
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText value="#{msg['profcode.title']}"/>
    </ui:define>
    <ui:define name="header">
        <h:outputText value="#{msg['profcode.title']}"/>
    </ui:define>
    
    <ui:define name="content">
        <f:view>
            <h:form id="formProfCodeTable">

                <p:dataTable id="tableProfCode" value="#{profCodeBean.profCodes}" var="profcodeItem"
                             editable="true" editMode="cell" >
                    
                    <p:ajax event="cellEdit" listener="#{profCodeBean.onCellEdit}" update=":formProfCodeTable:tableProfCode" />
                    
                    <p:column headerText="ID">
                        <h:outputText value="#{profcodeItem.id}"  />
                    </p:column>
                    <p:column headerText="#{msg['profcode.table.name']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{profcodeItem.name}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{profcodeItem.name}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <p:column>
                        <p:commandButton actionListener="#{profCodeBean.removeProfCode(profcodeItem)}" 
                                       value="#{msg['profcode.table.delete']}" update=":formProfCodeTable">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:separator />
            <h:form id="formAddProfCode">              
                <p:panel id="addNewProfCode" header="#{msg['profcode.add.newprofname.title']}" >
                    <h:panelGrid columns="3" cellpadding="5" >
                        
                        <p:outputLabel for="name" value="#{msg['profcode.table.name']}" />
                        <p:inputText id="name" required="true" value="#{profCodeBean.name}" />
                        <p:message for="name" display="text" />

                    </h:panelGrid>
                    <p:commandButton id="submitButton" value="#{msg['profcode.add.newprofname.button']}" 
                                     update=":formProfCodeTable :formAddProfCode" 
                                     actionListener="#{profCodeBean.addNewProfCode()}" />
                </p:panel>
                
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>