<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../template/template.xhtml">
    
    <ui:define name="css">
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText value="#{msg['profname.title']}"/>
    </ui:define>
    <ui:define name="header">
        <h:outputText value="#{msg['profname.title']}"/>
    </ui:define>
    
    <ui:define name="content">
        <f:view>
            <h:form id="formProfNameTable">

                <p:dataTable id="tableProfName" value="#{profNameBean.profNames}" var="profnameItem"
                             editable="true" editMode="cell" >
                    
                    <p:ajax event="cellEdit" listener="#{profNameBean.onCellEdit}" update=":formProfNameTable:tableProfName" />
                    
                    <p:column headerText="ID">
                        <h:outputText value="#{profnameItem.id}"  />
                    </p:column>
                    <p:column headerText="#{msg['profname.table.name']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{profnameItem.name}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{profnameItem.name}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['profname.table.profcode']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{profnameItem.profCode.name}" /></f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{profNameBean.profCodeId}">
                                    <f:selectItems value="#{profNameBean.profCodes.entrySet()}" var="map" 
                                                   itemValue="#{map.key}" itemLabel="#{map.value}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>                    
                    <p:column>
                        <p:commandButton actionListener="#{profNameBean.removeProfName(profnameItem)}" 
                                       value="#{msg['profname.table.delete']}" update=":formProfNameTable">                            
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:separator />
            <h:form id="formAddProfName">              
                <p:panel id="addNewProfName" header="#{msg['profname.add.newprofname.title']}" >
                    <h:panelGrid columns="3" cellpadding="5" >
                        
                        <p:outputLabel for="name" value="#{msg['profname.table.name']}" />
                        <p:inputText id="name" required="true" value="#{profNameBean.name}" />
                        <p:message for="name" display="text" />
                         
                        <p:outputLabel for="profCodes" value="#{msg['profname.table.profcode']}" />
                        <p:selectOneMenu id="profCodes" value="#{profNameBean.profCodeId}">
                            <f:selectItems value="#{profNameBean.profCodes.entrySet()}" var="mapNewProfName" 
                                           itemLabel="#{mapNewProfName.value}" itemValue="#{mapNewProfName.key}" />
                        </p:selectOneMenu>
                        <p:message for="profCodes" display="text" />
                        
                    </h:panelGrid>
                    <p:commandButton id="submitButton" value="#{msg['profname.add.newprofname.button']}" 
                                     update=":formProfNameTable :formAddProfName" 
                                     actionListener="#{profNameBean.addNewProfName()}" />
                </p:panel>
                
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>
