<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../template/template.xhtml">
    
    <ui:define name="css">
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText value="#{msg['statday.title']}"/>
    </ui:define>
    <ui:define name="header">
        <h:outputText value="#{msg['statday.title']}"/>
    </ui:define>
    
    <ui:define name="content">
        <f:view>
            <h:form id="formStatDayTable">

                <p:dataTable id="tableStatDay" value="#{statDayBean.statDays}" var="statdayItem"
                             editable="true" editMode="cell" >
                    
                    <p:ajax event="cellEdit" listener="#{statDayBean.onCellEdit}" update=":formStatDayTable:tableStatDay" />
                    
                    <p:column headerText="ID">
                        <h:outputText value="#{statdayItem.id}"  />
                    </p:column>
                    <p:column headerText="#{msg['statday.table.name']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{statdayItem.name}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{statdayItem.name}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['statday.table.description']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{statdayItem.description}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{statdayItem.description}" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <p:column>
                        <p:commandButton actionListener="#{statDayBean.removeStatDay(statdayItem)}" 
                                       value="#{msg['statday.table.delete']}" update=":formStatDayTable">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:separator />
            <h:form id="formAddStatDay">              
                <p:panel id="addNewStatDaye" header="#{msg['statday.add.newstatday.title']}" >
                    <h:panelGrid columns="3" cellpadding="5" >
                        
                        <p:outputLabel for="name" value="#{msg['statday.table.name']}" />
                        <p:inputText id="name" required="true" value="#{statDayBean.name}" />
                        <p:message for="name" display="text" />
                                                                        
                        <p:outputLabel for="description" value="#{msg['statday.table.description']}" />
                        <p:inputText id="description" required="true" value="#{statDayBean.description}" />
                        <p:message for="description" display="text" />

                    </h:panelGrid>
                    <p:commandButton id="submitButton" value="#{msg['statday.add.newstatday.button']}" 
                                     update=":formStatDayTable :formAddStatDay" 
                                     actionListener="#{statDayBean.addNewStatDay()}" />
                </p:panel>
                
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>