<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../template/template.xhtml">
    
    <ui:define name="css">
        <link href="../../resources/css/template.css" rel="stylesheet" type="text/css" />
    </ui:define>
    
    <ui:define name="title">
        <h:outputText value="#{msg['tabel.title']}"/>
    </ui:define>
    <ui:define name="header">
        <h:outputText value="#{msg['tabel.title']}"/>
    </ui:define>
    
    <ui:define name="content">
        <f:view>
            <h:form id="SelectTabel">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2" style="margin-right: 20px">
                            <h:outputLabel value="#{msg['tabel.select.emploee']}" />
                            <p:selectOneMenu value="#{tabelBean.emploeeId}">
                                <f:selectItems value="#{tabelBean.emploees.entrySet()}" var="emploeeItem" 
                                               itemLabel="#{emploeeItem.value}" itemValue="#{emploeeItem.key}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-2" style="margin-right: 20px">
                            <h:outputLabel value="#{msg['tabel.select.year']}" />
                            <p:selectOneMenu value="#{tabelBean.yearId}"> 
                                <f:selectItems value="#{tabelBean.years.entrySet()}" var="yearItem"
                                               itemLabel="#{yearItem.value}" itemValue="#{yearItem.key}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-2" style="margin-right: 20px">
                            <h:outputLabel value="#{msg['tabel.select.month']}" />
                            <p:selectOneMenu value="#{tabelBean.monthId}">
                                <f:selectItems value="#{tabelBean.months.entrySet()}" var="monthItem"
                                               itemLabel="#{monthItem.value}" itemValue="#{monthItem.key}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-2" style="margin-right: 20px">
                            <p:commandButton value="#{msg['tabel.select.button']}" 
                                             actionListener="#{tabelBean.loadTabel()}" 
                                             style="text-align: right" 
                                             update=":tabelSheetForm" />
                        </div>
                    </div>
                </div>
            </h:form>
            <h:form id="tabelSheetForm">
                <p:dataTable id="tabelSheet" value="#{tabelBean.tabels}" var="tabelItem" editable="true" editMode="cell"  >                    
                         
                    <p:ajax event="cellEdit" 
                            listener="#{tabelBean.onCellEdit}" 
                            update=":tabelSheetForm:tabelSheet" />
                    
                    <p:column headerText="#{msg['tabel.add.dayofmonth']}">
                        <h:outputText value="#{tabelItem.dayOfMonth}" />                        
                    </p:column>
                    <p:column headerText="#{msg['tabel.add.hour']}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{tabelItem.hours}" /></f:facet>
                            <f:facet name="input"><p:inputText value="#{tabelItem.hours}"  /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['tabel.add.daystat']}" >
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{tabelItem.statDay.name}" /></f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{tabelBean.statDayId}"  >
                                    <f:selectItems value="#{tabelBean.statDays.entrySet()}" var="sd" 
                                                   itemValue="#{sd.key}" itemLabel="#{sd.value}" />
                                </p:selectOneMenu>                                
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                </p:dataTable>
                <p:separator />
                <p:commandButton value="#{msg['tabel.add.button']}" 
                                 actionListener="#{tabelBean.saveTabel()}" 
                                 update=":tabelSheetForm:tabelSheet" />
            </h:form>

        </f:view>
    </ui:define>
</ui:composition>