<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title><h:outputText value="#{msg['loginpage.title']}"/></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="resources/css/loginstyle.css" type="text/css" />
    </h:head>
    <h:body>
        <div class="content">
            <div class="form-wrapper">
                <div class="linker"> 
                    <span class="ring"></span>
                    <span class="ring"></span>
                    <span class="ring"></span>
                    <span class="ring"></span>
                    <span class="ring"></span>
                </div>
                <f:view>                    
                    <h:form class="login-form" id="loginFormId" prependId="false">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="#{msg['loginpage.login']}:"></h:outputLabel>
                            <h:inputText id="j_username" required="true" value="#{loginBean.userName}" ></h:inputText>
                            <h:outputLabel value="#{msg['loginpage.password']}:"></h:outputLabel>
                            <h:inputSecret id="j_password" required="true" value="#{loginBean.password}" ></h:inputSecret>
                        </h:panelGrid>
                        <br />
                        <h:commandButton id="login" type="submit" value="#{msg['loginpage.button']}" action="#{loginBean.doLogin()}"></h:commandButton>
                    </h:form>
                </f:view>
            </div>
        </div>
    </h:body>
</html>

